* {
	color: #555;
	font-family: Helvetica;
}

html, body {

}

body {
	background: #fffcfc; /* Old browsers */
	background: -moz-linear-gradient(top,  #fffcfc 0%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcfc), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fffcfc 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fffcfc 0%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fffcfc 0%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fffcfc 0%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-9 */
}

i[class^="icon-"]:before {
	display: inline-block;
	text-decoration: none;
}

i[class^="icon-"]:hover {
	color: #E36D6D;
}

a {
	color: #555;
}

a:hover {
	text-decoration: none;
	color: #E36D6D;
}

li {
	list-style-type: none;

}

li p {
	margin-top: 10px;
}

.screenshot {
	-moz-box-shadow: 0px 0px 12px 1px #333;
	-webkit-box-shadow: 0px 0px 12px 1px #333;
	box-shadow: 0px 0px 12px 1px #333;
	width: 650px;height:450px;
}

#wrapper {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	height: inherit;
	width: inherit;
	padding: 60px;
}

#left_widget {
	left: 3%;
	top: 3%;
	position: fixed;
}

#right_widget {
	right: 3%;
	top: 3%;
	position:fixed;
}

#content {
	height: inherit;
	width: inherit;
}
 
#title {
	text-align: center;
	margin-bottom: 60px;
}

#subtitle {
	font-size: 120%;
}

#main {
	text-align: center;
}

#download {
	margin-top: 60px;
	text-align: center;
}

#download_icons {
	margin-top: 60px;
	letter-spacing: 50px;
	margin-left: 50px;

}

#download_icons i {
	font-size:160px;
}

#download_message {
	font-size: 140%;
	margin-top: 60px;
	text-align: center;
}

#footer {
	text-align: center;
}

#usage {
	padding: 60px;
	width: 850px;
	margin: 0 auto;
	font-size: 120%;
	height: 200px;
}

#left_usage {
	float:left;
	width: 400px;
}

#right_usage {
	float:right;
	width: 400px;

}